<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpPlatform processPath=".\myapp.exe" 
                  arguments=""
                  startupTimeLimit="60" 
                  requestTimeout="00:04:00"
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout.log">
    </httpPlatform>
  </system.webServer>
</configuration>